.containerContact {
  display: flex;
}

.contact {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 156, 253);
  border-color: rgb(255, 255, 255);
}

.iconContainer {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.button {
  border-color: aliceblue;
  font-size: 12px;
  width: 100px;
  height: 40px;
  border-radius: 4px;
}
